{% extends '_base.html' %}

{% block title %}{% endblock title %}

{% block content2 %}
<h1>{{ object.username }}</h1>
<p>[this is a profile page]</p>
<br>
{% if object in user.friends.all %}
<form action="{% url 'unfollow' object.id %}?next={{ request.path }}" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <button type="submit" class="btn btn-outline-primary">Unfollow</button>
</form>
{% else %}
<form action="{% url 'follow' object.id %}?next={{ request.path }}" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <button type="submit" class="btn btn-primary">Follow</button>
</form>

{% endif %}
{% endblock content2 %}
